 body {
    font-size: 14px;
}

nav a {
    display: inline-block;
    margin: 0 8px;
    font-size: 14px;
    white-space: nowrap;
}

main article,
form {
    width: 95%;
    margin: 10px auto;
    padding: 15px;
}

h2 {
    font-size: 18px;
}

