/* Tablet layout */
body {
    font-size: 16px;
}

nav a {
    display: inline-block;  /* horizontal nav links */
    margin: 0 15px;
}

main article, form {
    width: 80%;
    margin: 15px auto;
    padding: 22px;
}


